In [1]:
import pandas as pd
wine=pd.read_csv('/content/Wine_Quality_Data.csv')
wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [2]:
wi=wine['citric_acid'].values
wi

array([0.  , 0.  , 0.04, ..., 0.19, 0.3 , 0.38])

In [3]:
wi.size*0.05

324.85

In [6]:
import numpy as np

In [8]:
sample_size=400  # 4% of 5000 data
wi_sample=np.random.choice(wi,sample_size)
wi_sample

array([0.03, 0.41, 0.27, 0.2 , 0.41, 0.3 , 0.26, 0.54, 0.52, 0.45, 0.32,
       0.38, 0.34, 0.28, 0.37, 0.34, 0.39, 0.31, 0.57, 0.49, 0.32, 0.32,
       0.36, 0.5 , 0.28, 0.  , 0.33, 0.01, 0.56, 0.29, 0.27, 0.43, 0.29,
       0.49, 0.24, 0.11, 0.26, 0.32, 0.22, 0.46, 0.18, 0.13, 0.29, 0.24,
       0.47, 0.32, 0.3 , 0.39, 0.41, 0.09, 0.35, 0.06, 0.28, 0.14, 0.49,
       0.29, 0.36, 0.  , 0.04, 0.38, 0.23, 0.07, 0.24, 0.32, 0.29, 0.28,
       0.26, 0.37, 0.43, 0.39, 0.34, 0.1 , 0.49, 0.29, 0.58, 0.07, 0.25,
       0.37, 0.55, 0.13, 0.34, 0.4 , 0.3 , 0.41, 0.74, 0.46, 0.36, 0.2 ,
       0.26, 0.54, 0.23, 0.18, 0.28, 0.33, 0.48, 0.37, 0.17, 0.44, 0.44,
       0.61, 0.33, 0.34, 0.08, 0.28, 0.35, 0.42, 0.42, 0.65, 0.27, 0.65,
       0.45, 0.53, 0.59, 0.  , 0.24, 0.3 , 0.21, 0.36, 0.32, 0.49, 0.49,
       0.31, 0.39, 0.49, 0.28, 0.  , 0.31, 0.42, 0.27, 0.28, 0.25, 0.34,
       0.26, 0.52, 0.3 , 0.24, 0.29, 0.36, 0.2 , 0.2 , 0.39, 0.29, 0.16,
       0.35, 0.49, 0.34, 0.32, 0.39, 0.14, 0.27, 0.03, 0.31, 0.67, 0.24,
       0.23, 0.42, 0.5 , 0.24, 0.1 , 0.47, 0.33, 0.02, 0.33, 0.19, 0.4 ,
       0.25, 0.27, 0.22, 0.09, 0.25, 0.24, 0.14, 0.16, 0.33, 0.24, 0.29,
       0.28, 0.18, 0.34, 0.31, 0.27, 0.1 , 0.23, 0.24, 0.25, 0.49, 0.35,
       0.42, 0.28, 0.27, 0.46, 0.24, 0.44, 0.22, 0.36, 0.32, 0.28, 0.49,
       0.49, 0.35, 0.46, 0.74, 0.31, 0.54, 0.35, 0.29, 0.45, 0.51, 0.49,
       0.22, 0.41, 0.34, 0.01, 0.29, 0.36, 0.36, 0.49, 0.3 , 0.44, 0.32,
       0.26, 0.5 , 0.13, 0.42, 0.05, 0.3 , 0.21, 0.48, 0.3 , 0.22, 0.29,
       0.79, 0.44, 0.27, 0.3 , 0.26, 0.51, 0.38, 0.4 , 0.19, 0.42, 0.49,
       0.16, 0.33, 0.12, 0.12, 0.2 , 0.27, 0.44, 0.27, 0.21, 0.23, 0.06,
       0.33, 0.35, 0.01, 0.33, 0.42, 0.31, 0.32, 0.28, 0.4 , 0.12, 0.3 ,
       0.42, 0.59, 0.18, 0.02, 0.59, 0.19, 0.39, 0.46, 0.31, 0.47, 0.37,
       0.28, 0.28, 0.16, 0.49, 0.  , 0.32, 0.28, 0.29, 0.24, 0.35, 0.42,
       0.26, 0.04, 0.01, 0.33, 0.27, 0.3 , 0.66, 0.29, 0.  , 0.49, 0.31,
       0.27, 0.32, 0.15, 0.5 , 0.3 , 0.49, 0.21, 0.28, 0.16, 0.2 , 0.34,
       0.36, 0.39, 0.27, 0.41, 0.49, 0.28, 0.25, 0.24, 0.46, 0.33, 0.49,
       0.32, 0.3 , 0.24, 0.18, 0.49, 0.43, 0.32, 0.27, 0.17, 0.14, 0.6 ,
       0.34, 0.26, 0.74, 0.24, 0.27, 0.56, 0.35, 0.42, 0.32, 0.24, 0.46,
       0.32, 0.37, 0.34, 0.32, 0.38, 0.29, 0.49, 0.3 , 0.07, 0.33, 0.49,
       0.32, 0.3 , 0.25, 0.22, 0.52, 0.3 , 0.31, 0.15, 0.48, 0.52, 0.53,
       0.37, 0.18, 0.25, 0.  , 0.19, 0.21, 0.52, 0.22, 0.27, 0.49, 0.1 ,
       0.32, 0.41, 0.33, 0.38, 0.36, 0.5 , 0.16, 0.29, 0.35, 0.54, 0.21,
       0.24, 0.25, 0.49, 0.35, 0.19, 0.28, 0.4 , 0.21, 0.32, 0.27, 0.35,
       0.47, 0.4 , 0.78, 0.34])

In [9]:
wi_mean=wi.mean()
wi_sample_mean=wi_sample.mean()
wi_mean,wi_sample_mean

(0.3186332153301524, 0.321625)

In [10]:
from scipy import stats

In [18]:
Ttest,pvalue=stats.ttest_1samp(wi_sample,wi_mean)
pvalue

0.6743232502379721

In [19]:
if pvalue<0.08:
  print('Null Hypothesis H0 is rejected, Ha is accepted.')
else:
  print('Null Hypothesis H0 is accepted, Ha is rejected.')

Null Hypothesis H0 is accepted, Ha is rejected.